body{
    margin:0;
    padding:0;
    text-align:left;
    font-size: 17px;
}
header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
    margin-bottom: 5px;
}

h1{
    margin-bottom: 0;
}

.top{
    height:70px;
}

main{
    border-bottom:1px solid #ccc;
}
footer{
    background-color: #fff;
    border-bottom:1px solid #ccc;
    text-align: center;
}
.result{
    font-size:200%;
    text-align: center;
    border-bottom:1px solid #fff;
    margin: 0;
    font-weight: bold;
}
ul{
    padding: 0;
    border-top: 1px solid #000000;
    display:table;  /* 定義 */
    table-layout: fixed;
    width:100%;
}
li{
    text-align: center;
    list-style-type:none;
    border: 1px solid #666;
    background-color: #FFF;
    display:table-cell;  /* 定義 */
    cursor: pointer;
}
li:hover{
    background: #0066CC;
    color:#fff;
}

.total{
    text-align: center;
    border-bottom:1px solid #fff;
}

.text{
    font-size:100%;
    text-align: center;
}

.com_img{
    height: 150px;
    margin: 0 auto;
}

.com{
    margin-bottom: 0px;
    font-weight: bold;
}

/*------------
     modal
  -----------  */

.modalArea {
    display: none;
    position: fixed;
    z-index: 10; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
  
.modalBg {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
  
.modalWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 70%;
    max-width: 400px;
    padding: 10px 30px;
    background-color: #fff;
    text-align: center;
    font-size: 150%;
    border: solid 2.5px #1e3366;
    font-weight: bold;
}
  
.closeModal {
    cursor: pointer;
    text-align: center;
    font-size: 50%;
    background-color: rgb(255, 217, 0);
    width: 30%;
    margin: 0 auto;
    border: solid 2.5px #1e3366;
}

.result_img{
    height: 150px;
    margin: 0 auto;
    padding-bottom: 15px;
}

